@model PORFAVORFUNCIONA3.Models.Jogo
@{
    ViewBag.Title = "MostrarJogo";
}

<h2>Dados Cadastrados:</h2>

<fieldset>
    <div>
        <label for="Cod_jogo">Código do jogo:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Cod_jogo)
    </div><br />

    <div>
        <label for="Nome_func">Nome:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome_jogo)
    </div><br />

    <div>
        <label for="CPF_func">Versão:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Versao_jogo)

    </div><br />

    <div>
        <label for="RG_func">Desenvolvedor</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Dev_jogo)

    </div><br />

    <div>
        <label for="DataDN_func">Gênero:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Genero_jogo)
    </div><br />

    <div>
        <label for="Endereco_func">Faixa Etária:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.FaixaEtaria_jogo)
    </div><br />

    <div>
        <label for="Tel_func">Plataforma:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Plataforma_jogo)
    </div><br />

    <div>
        <label for="Email_func">Ano de Lançamento:</label>
    </div>
    <div>
        @Html.DisplayFor(model => model.AnodeLanc_jogo)
    </div><br />

    <div>
        <label for="Cargo_func">Sinopse:</label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Sinopse_jogo)

    </div><hr />
    <p>@Html.ActionLink("Voltar", "Index")</p>
</fieldset>

